<div class="alert-messages hide popupMessage" style="top: 47px;">
    <div class="message ">
        <div class="message-inside">
		<span class="message-text">
		    {{message}}
		</span>
        </div>
    </div>
</div>